<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/styles/contact.css" />
    <link rel="stylesheet" href="../public/styles/footer.css" />
    <link rel="stylesheet" href="../public/styles/nav.css" />
    <link rel="shortcut icon" href="/public/assets/Logo.png" />
    <title>Contact Us</title>
  </head>

  <body>
    <!-- Navbar -->

    <nav class="nav-container">
      <div class="logo-container">
        <a href="../index.html"
          ><img src="../public/assets/Logo.png" alt=""
        /></a>
      </div>
      <ul class="nav-link-container">
        <li class="nav-link" class="nav-link">
          <a href="/registration" class="nav-link-a"
            ><button class="button-nav">Register Now</button></a
          >
        </li>
        <li class="nav-link">
          <a href="./events.html" class="nav-link-a"
            ><button class="button-nav">Events</button></a
          >
        </li>
        <li class="nav-link">
          <a href="/views/about.html" class="nav-link-a"
            ><button class="button-nav">About</button></a
          >
        </li>

        <li class="nav-link">
          <a href="./contact.html" class="nav-link-a"
            ><button class="button-nav">Contact Us</button></a
          >
        </li>
      </ul>
      <div class="nav-toggler">
        <span></span>
      </div>
    </nav>

    <section class="containerSection">
      <div class="shadowConatainer"></div>
      <div class="containerDiv">
        <div class="left-side-contact side-contact">
          <div class="contact-left">
            <h1>Contact Info</h1>
            <br />
            <div class="call-section">
              <img src="https://img.icons8.com/dotty/35/102c2c/phone.png" />
              <a href="tel:+911234567890">1234567890</a> <br />
            </div>
            <div class="call-section" style="padding-top: 15px">
              <img src="https://img.icons8.com/ios/25/102c2c/new-post.png" />
              <a style="padding-left: 10px" href="mailto:abc@gmail.com"
                >abc@gmail.com</a
              >
              <br />
            </div>
            <div class="call-section" style="padding-top: 15px">
              <img
                class="location-image"
                src="https://img.icons8.com/ios/25/102c2c/marker--v1.png"
              />
              <p style="padding-left: 5px">
                203, Envato Labs, Behind Alis Steet, Australia
              </p>
              <br />
            </div>
          </div>
          <div class="social-media">
            <a class="social-media-icons" href=""
              ><img
                src="https://img.icons8.com/ios/40/102c2c/instagram-new--v1.png"
            /></a>
            <a class="social-media-icons" href=""
              ><img src="https://img.icons8.com/ios/40/102c2c/facebook-new.png"
            /></a>
            <a class="social-media-icons" href=""
              ><img
                src="https://img.icons8.com/ios/40/102c2c/youtube-play--v1.png"
            /></a>
          </div>
        </div>
        <div class="right-side-contact side-contact">
          <div class="main-div">
            <input
              class="input-class"
              type="text"
              placeholder="Enter your Name"
            />
            <input
              class="input-class"
              type="email"
              placeholder="Enter your Email"
            />
            <textarea class="input-class-textarea">Enter your Message</textarea>
            <button class="button-btn">
              <span class="button-btn-span">Reach Us</span>
              Submit
            </button>
          </div>
        </div>
      </div>
    </section>

    <footer>
      <div class="footer-div">
        <div class="socials">
          <a target="_blank" href="https://www.instagram.com/mechgust_cit/">
            <img
              src="https://img.icons8.com/fluency-systems-regular/48/000000/instagram-new--v1.png"
            />
          </a>
          <a target="_blank" href="https://www.instagram.com/mechgust_cit/"
            ><img
              src="https://img.icons8.com/ios/50/000000/youtube-play--v1.png"
            />
          </a>
          <a target="_blank" href="https://www.facebook.com/mechgust/">
            <img
              src="https://img.icons8.com/fluency-systems-regular/48/000000/facebook.png"
            />
          </a>
        </div>
        <p>© 2022 Mechgust - ALL RIGHTS RESERVED</p>
      </div>
    </footer>

    <script src="../public/js/nav.js"></script>
  </body>
</html>
